pkgbase = link-studio
	pkgdesc = Native Linux controller for Insta360 Link webcams
	pkgver = 1.0.2
	pkgrel = 1
	url = https://jweaver60.github.io/link-studio/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gtk4
	depends = libadwaita
	depends = python-gobject
	depends = python-mediapipe
	depends = python-numpy
	depends = python-opencv
	depends = python-pillow
	depends = python-qrcode
	depends = v4l-utils
	optdepends = v4l2loopback-dkms: processed virtual-camera output
	optdepends = v4l2loopback-utils: virtual-camera controls
	optdepends = whisper-cpp: offline meeting transcription
	source = link-studio-1.0.2.tar.gz::https://github.com/jweaver60/link-studio/releases/download/v1.0.2/link-studio-1.0.2.tar.gz
	sha256sums = b0fc912d8b7924661b57e427280c9766cbb0f01b7a2b3f3cdb1885969f8cfdc6

pkgname = link-studio
