pkgbase = link-studio
	pkgdesc = Native Linux controller for Insta360 Link webcams
	pkgver = 1.0.0
	pkgrel = 1
	url = https://jweaver60.github.io/link-studio/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gtk4
	depends = libadwaita
	depends = python-gobject
	depends = python-mediapipe
	depends = python-numpy
	depends = python-opencv
	depends = python-pillow
	depends = python-qrcode
	depends = v4l-utils
	optdepends = v4l2loopback-dkms: processed virtual-camera output
	optdepends = v4l2loopback-utils: virtual-camera controls
	optdepends = whisper-cpp: offline meeting transcription
	source = link-studio-1.0.0.tar.gz::https://github.com/jweaver60/link-studio/releases/download/v1.0.0/link-studio-1.0.0.tar.gz
	sha256sums = 0ffa8a011bf54a5d6ad12f6988476b93659c05b6f2c20cddd6d13adb48578455

pkgname = link-studio
